.trending-assets .asset-img {
    backdrop-filter: blur(50px);
}

.trending-assets .card {
    background: linear-gradient(180deg, rgba(236, 240, 255, 0.1) 0%, rgba(46, 49, 73, 0) 107.43%);
    backdrop-filter: blur(0px);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(236, 240, 255, 0.1) 0%, rgba(46, 49, 73, 0) 107.43%);
    clip-path: url("#cardMask");
}